Package: com.fr0zensun.lsalwayshowmediacontrols
Name: LSAlwaysShowMediaControls
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Fr0zen Sun
Author: Fr0zen Sun
Section: Tweaks
